.container_items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 340px;
}
.discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(19, 18, 18);
}
